{
    "emoji": [
        {
            "name": "",
            "is_alias": 0,
            "alias_for": "",
            "url": "",
            "created": 0,
            "team_id": "",
            "user_id": "",
            "user_display_name": "",
            "avatar_hash": "",
            "can_delete": false,
            "is_bad": false,
            "synonyms": []
        },
        {
            "name": "",
            "is_alias": 0,
            "alias_for": "",
            "url": "",
            "created": 0,
            "team_id": "",
            "user_id": "",
            "user_display_name": "",
            "avatar_hash": "",
            "can_delete": false,
            "is_bad": false,
            "synonyms": []
        },
        {
            "name": "",
            "is_alias": 0,
            "alias_for": "",
            "url": "",
            "created": 0,
            "team_id": "",
            "user_id": "",
            "user_display_name": "",
            "avatar_hash": "",
            "can_delete": false,
            "is_bad": false,
            "synonyms": []
        },
        {
            "name": "",
            "is_alias": 0,
            "alias_for": "",
            "url": "",
            "created": 0,
            "team_id": "",
            "user_id": "",
            "user_display_name": "",
            "avatar_hash": "",
            "can_delete": false,
            "is_bad": false,
            "synonyms": []
        },
        {
            "name": "",
            "is_alias": 0,
            "alias_for": "",
            "url": "",
            "created": 0,
            "team_id": "",
            "user_id": "",
            "user_display_name": "",
            "avatar_hash": "",
            "can_delete": false,
            "is_bad": false,
            "synonyms": []
        },
        {
            "name": "",
            "is_alias": 0,
            "alias_for": "",
            "url": "",
            "created": 0,
            "team_id": "",
            "user_id": "",
            "user_display_name": "",
            "avatar_hash": "",
            "can_delete": false,
            "is_bad": false,
            "synonyms": []
        },
        {
            "name": "",
            "is_alias": 0,
            "alias_for": "",
            "url": "",
            "created": 0,
            "team_id": "",
            "user_id": "",
            "user_display_name": "",
            "avatar_hash": "",
            "can_delete": false,
            "is_bad": false,
            "synonyms": []
        },
        {
            "name": "",
            "is_alias": 0,
            "alias_for": "",
            "url": "",
            "created": 0,
            "team_id": "",
            "user_id": "",
            "user_display_name": "",
            "avatar_hash": "",
            "can_delete": false,
            "is_bad": false,
            "synonyms": []
        },
        {
            "name": "",
            "is_alias": 0,
            "alias_for": "",
            "url": "",
            "created": 0,
            "team_id": "",
            "user_id": "",
            "user_display_name": "",
            "avatar_hash": "",
            "can_delete": false,
            "is_bad": false,
            "synonyms": []
        },
        {
            "name": "",
            "is_alias": 0,
            "alias_for": "",
            "url": "",
            "created": 0,
            "team_id": "",
            "user_id": "",
            "user_display_name": "",
            "avatar_hash": "",
            "can_delete": false,
            "is_bad": false,
            "synonyms": []
        },
        {
            "name": "",
            "is_alias": 0,
            "alias_for": "",
            "url": "",
            "created": 0,
            "team_id": "",
            "user_id": "",
            "user_display_name": "",
            "avatar_hash": "",
            "can_delete": false,
            "is_bad": false,
            "synonyms": []
        },
        {
            "name": "",
            "is_alias": 0,
            "alias_for": "",
            "url": "",
            "created": 0,
            "team_id": "",
            "user_id": "",
            "user_display_name": "",
            "avatar_hash": "",
            "can_delete": false,
            "is_bad": false,
            "synonyms": []
        },
        {
            "name": "",
            "is_alias": 0,
            "alias_for": "",
            "url": "",
            "created": 0,
            "team_id": "",
            "user_id": "",
            "user_display_name": "",
            "avatar_hash": "",
            "can_delete": false,
            "is_bad": false,
            "synonyms": []
        }
    ]
}